<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">KoalityMonitoring</label>
    <label lang="en">KoalityMonitoring</label>
    <version>1.0.0</version>
    <copyright>(c) by Leankoala GmbH</copyright>
    <license>MIT</license>
    <link>https://www.koality.io</link>
    <author>Leankoala GmbH</author>

    <compatibility minVersion="5.7.2" />
    <description lang="de">Das E-Commerce-Monitoring-Plugin für Shopware 5 verbindet koality.io mit dem Shopsystem.</description>
    <description lang="en">The e-commerce monitoring plugin for Shopware connects koality.io with the store system.</description>

    <changelog version="1.0.0">
        <changes lang="de">Erste Veröffentlichung</changes>
        <changes lang="en">Initial Release</changes>
    </changelog>
</plugin>
